@import url('https://fonts.googleapis.com/css?family=Anton|Baloo+Bhai|Fascinate+Inline|Lobster|Modak|Montserrat|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto&display=swap');

@import url("https://use.typekit.net/vtk8tor.css");

/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Modak', cursive;
font-family: 'Baloo Bhai', cursive;
font-family: 'Lobster', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Anton', sans-serif;

font-family: flegrei, sans-serif;
font-family: pantelleria, sans-serif;
font-family: filicudi-striped, sans-serif;
font-family: filicudi-solid, sans-serif;
*/

html{
	scroll-behavior: smooth;
}

html::-webkit-scrollbar{
	display: none;
}

*{
	box-sizing: border-box;
	font-size: 16px;
}

a{
	color: #000;
	text-decoration: none;
}

#topRightLogo{
	position: fixed;
	top: 4%;
	left: 2%;
	font-family: filicudi-striped, sans-serif;
	z-index: 999;
}

#topRightLogo a{
	color: #000;
	font-size: 40px;
}

#topRightLogo a:hover{
	opacity: 0.7;
	transition: 0.2s ease-out;
}

.progressBar{
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	right: 0%;
	top: 6%;
	transform: translateY(-50%);
	transition: 0.2s ease-out;
	z-index: 999;
	animation-name: right-zero;
	animation-duration: 1s;
}

.progressBar a{
	padding: 30px 20px;
}

.progressBar a:hover i{
	color: #84817a;
	transition: 0.2s ease-out;
}

.progressBar a i,.dragBtn{
	color: #fff;
	font-size: 2em;
	transition: 0.3s ease-out;
}

.progActive{
	color: #84817a ! important;
	/*
	animation-name: prog-rotate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	*/
}

.sticky{
	left: 2% ! important;
	transition: 0.4s ease-out;
}

.sticky02{
	top: 3% ! important;
	transition: 0.6s ease-out;
}

form{
	position: relative;
	display: flex;
	align-items: center;
}

input{
	border: none;
	outline: none;
	border-radius: 20px;
	padding: 0;
	width: 0;
	transition: 0.2s ease-out;
}

#searchBtn{
	position: absolute;
	left: 4%;
	color: #333;
	font-size: 1.6em;
	background: #fff;
	padding: 6px 8px;
	border-radius: 50%;
}

form:hover > input{
	padding: 11px;
	width: 100%;
}

form:hover > #searchBtn{
	display: none;
	opacity: 0;
}

section{
	position: relative;
	height: 100vh;
}

#landPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background: #34ace0;
}

#landPage > span{
	display: block;
	position: fixed;
	background: #fff;
	width: 300px;
	height: 133%;
}

#landPage > span:nth-child(6){
	top: -12%;
	left: -11%;
	transform: rotate(21deg);
	box-shadow: 0px 4px 45px -7px #666;
	z-index: 2;
}

#landPage > span:nth-child(3){
	left: -8%;
	top: -14%;
	transform: rotate(21deg);
	z-index: 1;
}

#landPage > span:nth-child(4){
	position: absolute;
	right: -9%;
	bottom: 57%;
	transform: rotate(0deg);
	box-shadow: 0px 4px 45px -7px #666;
	z-index: 1;
	width: 63%;
	height: 10px;
	border-radius: 10px;
}

#landPage > span:nth-child(5){
	position: absolute;
	right: 10%;
	bottom: 40%;
	transform: rotate(0deg);
	height: 10px;
	width: 34%;
	border-radius: 10px;
}

.side-image{

	position: absolute;

	width: 532px;

	min-height: 100vh;

	bottom: 0;

	right: 0;

	z-index: 2;
}

.side-image img{

	display: block;

	max-width: 100%;

	height: 100vh;
}

.banner{

}

.banner h1{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: filicudi-solid, sans-serif;
	padding: 40px 80px;
	color: #fff;
	text-align: center;
	font-size: 500%;
	font-weight: 600;
	animation-name: fontBig;
	animation-duration: .5s;
	animation-delay: 0.3s;
	transition: 0.3s cubic-bezier(0.77, 1.86, 0.22, 0.53);
}

.banner h1 span{
	font-size: 25px;
	font-weight: 200;
}

#educAnchor::before{
	position: absolute;
	right: 10%;
	font-family: 'Font Awesome 5 Free';
	content: "\f5d1";
	font-weight: 900;
}

nav ul li a:hover::before{
	transform: scale(5.1);
	transition: 0.2s ease-out;
	color: #ecf0f1;
	z-index: -1;
	opacity: 0.7;
}

#skillsAnchor::before{
	position: absolute;
	right: 10%;
	font-family: 'Font Awesome 5 Free';
	content: "\f11c";
	font-weight: 900;
}

#expAnchor::before{
	position: absolute;
	right: 10%;
	font-family: 'Font Awesome 5 Free';
	content: "\f0b1";
	font-weight: 900;
}

#contactAnchor::before{
	position: absolute;
	right: 10%;
	font-family: 'Font Awesome 5 Free';
	content: "\f095";
	font-weight: 900;
}

#educ{
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #ff793f;
	z-index: 3;
}

#educ::before{
	content: '';
	background: #ffffff4f;
	width: 72%;
	height: 89vh;
	position: absolute;
	opacity: 0.4;
	top: 5%;
}

#educ div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	width: 80%;
	margin: 0 auto;
	height: 33.33%;
	z-index: 1;
}

#educ div h2:first-child{
	padding: 10px 0;
	font-size: 30px;
	font-weight: 800;
}

#educ div h3{
	font-weight: 200;
}

#educ div p{
	font-weight: 200;
}

#educTitle{
	position: absolute;
	bottom: 5%;
	right: 0;
	opacity: 0.7;
	font-size: 100px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #fff;
}

#skillsTitle,
#expTitle,
#contactTitle{
	position: absolute;
	bottom: 3%;
	right: 0;
	font-size: 80px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #fff;
	opacity: 0.7;
}

.infoRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.infoRight div{
	display: flex;
	justify-content: center;
	width: 100%;height: 33.33%;
	flex-direction: column;
}

.sideImg{

}

.sideImg img{
	max-width: 100%;
}

#skills{
	background: #7c3d21;
	/* z-index: 1; */
}

#exp{
	position: relative;
	background: #ffda79;
	z-index: 1;
}

#contact{
	position: relative;
	background: #2c3e50;
	z-index: 1;
}

.red{
	color: red ! important;
}


.iconScale{
	transform: rotate(360deg) scale(1.8);
	transition: 0.2s ease-out;
}

@media screen and (max-width: 768px){
	.banner{
	}

	.banner h1{
		width: 80%;
		padding: 20px 40px;
		font-size: 200%;
	}

	.banner h1 span{
		font-size: 16px;
	}

	nav{
		padding: 30px 0;
	}

	nav > ul{
		flex-direction: column;
		height: 100%;
	}

	nav > ul li{
		height: 25%;
	}

	nav > ul li a{
		min-height: unset;
		padding: 10px 0;
		font-size: unset;
	}

	nav > ul li a::after{
		height: 34px;
	}

	#educTitle,#skillsTitle, #expTitle, #contactTitle{
		font-size: 50px;
	}

	#topRightLogo a{
		font-size: 20px;
	}

	.progressBar a{
		padding: 15px 10px;
	}

	.progressBar a i{
		font-size: 1em;
		text-shadow: 0px 0px 14px #000;
	}

	#educ div h2:first-child{
		padding: 5px 0;
		font-size: 25px;
	}

	.tertiary{
		justify-content: flex-end ! important;
	}

	.primary{
		justify-content: flex-start ! important;
	}

	#educ h2, h3, p{
		color: #ffffff;
		z-index: 1;
		text-shadow: -1px 0px 17px black;
	}

	#educ::before{

	}
}

@keyframes fontBig{
	0%{font-size: 50%}
	70%{font-size: 850%}
	100%{font-size: 500%}
}

@keyframes width-100{
	0%{
		border: none;
		width: 0%;
	}
	50%{
		border: 1px solid white;
		width: 25%;
	}
	100%{
		border: 1px solid white;
		width: 99%;
	}
}

@keyframes right-zero{
	0%{right: -100%}
	100%{right: 0%;}
}

@keyframes prog-rotate{
	0%{transform: rotate(0deg)}
	10%{transform: rotate(45deg)}
	12%{transform: rotate(48deg)}
	15%{transform: rotate(50deg)}
	50%{transform: rotate(180deg)}
	51%{transform: rotate(182deg)}
	53%{transform: rotate(185deg)}
	55%{transform: rotate(188deg)}
	75%{transform: rotate(270deg)}
	77%{transform: rotate(273deg)}
	79%{transform: rotate(275deg)}
	100%{transform: rotate(360deg)}
}